name: CD

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    name: Publish to BSR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Load secrets from 1Password
        uses: 1password/load-secrets-action@581a835fb51b8e7ec56b71cf2ffddd7e68bb25e0 # v2
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          BUF_TOKEN: ${{ secrets.SECRETS_VAULT }}/BUF_TOKEN

      - uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1
        with:
          token: ${{ env.BUF_TOKEN }}
          push: true
          lint: false
          format: false
          breaking: false
